%ul.nav.navbar-nav.navbar-right
  %li
    = link_to t(:calendar), calendar_path(current_user.calendar)
  %li
    = link_to edit_user_registration_path do
      %span.glyphicon.glyphicon-user
      = current_user.email
  %li
    = link_to destroy_user_session_path, method: :delete do
      = t :log_out
      %span.glyphicon.glyphicon-log-out
